/* Coming Soon */

.comingSoonHeader{
  text-align: center;
  padding: 10px;
  margin-top: 25%;
}

.comingSoon{
  width: 50% !important;
  margin: 0 auto !important;
}

/* Navigation */
.navImg{
  text-align: center;
  padding: 10px;
}

.navbarCstm{
  background-color: white;
  border: 5px black solid;
  padding: 10px;
  margin: 10px;
}

.nav-link{
  font-family: 'Bangers', cursive;
  color: #fc0300 !important;
  text-shadow: -3px 3px #000000;
  letter-spacing: 2px;
  font-size: 2rem;
  transition: all .2s ease-in-out;
}

.nav-link:hover{
  transform: scale(1.1);
}

.searchBtn{
  background-color: #fc0300 !important;
  transition: all .2s ease-in-out;
  font-family: 'Bangers', cursive;
  color: #ffffff;
  text-shadow: -3px 3px #000000;
  letter-spacing: 2px;
}

.searchBtn:hover {
  transform: scale(1.1);
}

.logoImg{
  width: 25%
}

/* Resuable */

.containerStyle{
  background-color: white;
  border: 5px black solid;
  padding: 10px;
  margin: 10px;
  width: auto;
}

h1, h2 {
  font-family: 'Bangers', cursive;
  color: #fc0300  ;
  text-shadow: -3px 3px #000000;
  letter-spacing: 2px;
}

.centered {
  text-align: center !important;
  margin: 0 auto !important;
}

/* LogIn */

.loginForm{
  margin: 10px auto;
}

/* Browse */

.loading{
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

.browseCard{
  margin: 5px;
  padding: 5px;
  width: 18rem;
  min-height: 40rem;
}

.card-img-top{
  /* max-height: 20rem; */
  object-fit: cover;
}

.searchForm{
  right: 0;
  position: absolute;
  margin-right: 20px;
}

.browseHeader{
  padding: 20px;
}

/* MODAL */

.modal-content{
  border: 5px solid black;
}

.modal-body-custom{
  background: linear-gradient(rgba(49, 116, 188, .7), rgba(33, 64, 153, .7)) !important;
  padding:0px !important;
}

.modalBody2{
  background-image:
  radial-gradient(rgba(28, 112, 210, .7) 40%, transparent 0), 
  radial-gradient(rgba(28, 112, 210, .7) 40%, transparent 0);
background-size: 30px 30px;
background-position: 0 0, 15px 15px;
}

.modalBody3{
  padding: 20px;
  margin: 0 auto;
}

.issuesTable{
  background-color:rgba(255, 255, 255, .7);
  border: 5px solid black;
  width: 40rem;
  overflow: none !important;
}

.newSeriesResults{
  display:none;
}

/* HOME */

.seriesContainer{
  padding: 20px;
  margin: 20px;
  border: 5px solid black;
}

.toggleSwitch{
  margin: 0 auto;
  text-align: center;
  display: inherit;
}

.addIssue{
  display: none;
}

.deleteBtn{
  position: absolute;
  right: 50px !important;
  transition: all .2s ease-in-out;
}

.deleteBtn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.deleteBtn:hover {
  transform: scale(1.1)
}


/* MODAL 2 */

.seriesSearchForm{
  right: auto;
  position: inherit;
}

.seriesConfirm{
  display: none;
}

/* MOBILE */

@media only screen and (max-width: 800px) {
  .searchForm{
    right: auto;
    position: inherit;
    margin: 0 auto;
  }

  .logoImg{
    width: 65%
  }

  .issuesTable{
    font-size: .75rem;
    width: 100%;
  }

  .table th, .table td{
    padding: .25rem !important;
  }

  .searchBtn{
    padding: 5px;
    margin: 5px;
  }

  .containerStyle{
    margin: 15px;
  }

}